[claude]
api_key = YOUR_ANTHROPIC_API_KEY_HERE

[novita]
api_key = YOUR_NOVITA_API_KEY_HERE

[huggingface]
api_key = YOUR_HF_TOKEN_HERE

[postgres]
user = your_username
password = your_password
table_name = stock_data_sp_500